html,
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 18px;
}

html {
    background-image: url("../../assets/images/background1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

body {
    padding: 25px;
}

h1 {
    font-weight: bolder;
    font-size: 26px;
}

h2 {
    font-weight: bolder;
    font-size: 22px;
}